
.sign-up-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

  .sign-up-box {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  

  .input-field {
    margin-bottom: 20px;
  }
  
  
  .button-submit {
    display: flex;
    justify-content: center;
  }
  
  .button-submit button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-submit button:hover {
    background-color: #0056b3;
  }
  
  .button-submit .MuiCircularProgress-root {
    margin-right: 10px;
  }
  