@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #466f5f;
  --background-start-color: #d6dbdc;
  --background-end-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ffffff;
    --background-start-color: #466f5f;
    --background-end-color: #466f5f;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
    font-weight: bold;
  }
}